## Data inspection of the real propecty sales file

File name: Real Property Sales <br> 
Location: Documents/Data Science/Fatiron School/week3/

## Step 1: Unziping the file

In [1]:
## Using zipfile package, we unzip the raw data and place it in the same directory

import zipfile

zip_ref = zipfile.ZipFile('raw_data/Real Property Sales.zip', 'r')
zip_ref.extractall('raw_data/')
zip_ref.close()

## Step 2: Inspecting the files content

In [2]:
## Import pandas and inspect the content of the data using a DataFrame

import pandas as pd

df = pd.read_csv('raw_data/EXTR_RPSale.csv')
df.head()

/Users/jjherranzsarrion/anaconda3/envs/learn-env/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (1,2) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,ExciseTaxNbr,Major,Minor,DocumentDate,SalePrice,RecordingNbr,Volume,Page,PlatNbr,PlatType,...,PropertyType,PrincipalUse,SaleInstrument,AFForestLand,AFCurrentUseLand,AFNonProfitUse,AFHistoricProperty,SaleReason,PropertyClass,SaleWarning
0,2687551,138860,110,08/21/2014,245000,20140828001436,,,,,...,3,6,3,N,N,N,N,1,8,
1,1235111,664885,40,07/09/1991,0,199203161090,071,001,664885,C,...,3,0,26,N,N,N,N,18,3,11
2,2704079,423943,50,10/11/2014,0,20141205000558,,,,,...,3,6,15,N,N,N,N,18,8,18 31 51
3,2584094,403700,715,01/04/2013,0,20130110000910,,,,,...,3,6,15,N,N,N,N,11,8,18 31 38
4,1056831,951120,900,04/20/1989,85000,198904260448,117,053,951120,P,...,3,0,2,N,N,N,N,1,9,49

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2033420 entries, 0 to 2033419
Data columns (total 24 columns):
ExciseTaxNbr          int64
Major                 object
Minor                 object
DocumentDate          object
SalePrice             int64
RecordingNbr          object
Volume                object
Page                  object
PlatNbr               object
PlatType              object
PlatLot               object
PlatBlock             object
SellerName            object
BuyerName             object
PropertyType          int64
PrincipalUse          int64
SaleInstrument        int64
AFForestLand          object
AFCurrentUseLand      object
AFNonProfitUse        object
AFHistoricProperty    object
SaleReason            int64
PropertyClass         int64
SaleWarning           object
dtypes: int64(7), object(17)
memory usage: 372.3+ MB

In [9]:
df['RecordingNbr'].value_counts()

                  40786
000000000000       3661
20131105001293      689
20140617000923      685
198603100565        678
199202190000        327
20031120001571      267
199805061922        244
199202200000        240
20121228000812      228
20130225001139      228
20051205002698      226
20051205002699      226
20041008000789      225
20041008000773      225
20030515002640      223
20101230000613      217
20080407001255      212
20061211002009      207
20061211002010      207
199311170067        204
20030326001585      204
20140501000498      204
199705190464        204
20140620000444      203
20110527000132      201
20041214002393      199
20041214002394      199
20130715001107      198
20041214002392      197
                  ...
20111208001029        1
20040803001191        1
199606101264          1
199904291348          1
20070917000999        1
20040810002831        1
20040928001564        1
20060714000475        1
20150603001440        1
20161206000873        1
20150626002086        1
199507031260          1
20140724001153        1
20110830000923        1
20080229001526        1
20151016001082        1
199205290219          1
199711262816          1
199306141797          1
20160817001682        1
20030422002755        1
20070604000694        1
20160331001569        1
20000225000183        1
20131127001068        1
20140815001451        1
20120628001286        1
20190514000947        1
20040527002476        1
20080508001420        1
Name: RecordingNbr, Length: 1797432, dtype: int64